<div class="success-container">
  <h1>Order Successful!</h1>
  <p>Thank you for your purchase, {{ orderDetails.email }}.</p>

  <h3>Order Summary</h3>
  <div class="success-summary-items">
    <div *ngIf="orderDetails.items?.length > 0" class="success-items">
      <div *ngFor="let item of orderDetails.items" class="success-item">
        <img [src]="item.thumbnailUrl" [alt]="item.optionSubtitle" class="success-thumbnail">
        <div class="subtitle-quantity-price">
          <p>{{ item.optionSubtitle }}
            <span class="quantity"> x {{ item.quantity }}</span> &nbsp;
            <span class="price">{{ item.price | currency }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3><strong>Total:</strong> ${{ (orderDetails.total).toFixed(2) }}</h3>

  <h3>Shipping Address</h3>
  <p>
    {{ orderDetails.shippingAddress.shippingName }}<br />
    {{ orderDetails.shippingAddress.addressLine1 }}<br />
    {{ orderDetails.shippingAddress.city }}, {{ orderDetails.shippingAddress.state }} {{ orderDetails.shippingAddress.zip }}<br />
    {{ orderDetails.shippingAddress.country }}
  </p>
</div>

