.about-container{
//   height: 83vh; //Figure out what's going on with footer, this should help with home page issues
  margin-left: 5vw;
  margin-top: 15vw;
  width: 90vw;
  }

.about-container p {
//   margin-top: 10vh;
  font-size: 16px;
  line-height: 1.5rem;
//   margin-left: 10vw;
  }

.about-video {

  }

hr {
  height: 1px;
  width: 100%;
  margin: 0;
  margin-top: 2rem;
  }
