.slide-container {
  position: relative;
  overflow: hidden;
  height: 200vh; //Page length for home and details
}

.home-container,
.details-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in-out;
  opacity: 1;
}
.home-slide-in {
  transform: translateX(100%);
  opacity: 0;
}
.home-slide-out {
  transform: translateX(-100%);
  opacity: 0.6;
}
.details-slide-in {
  transform: translateX(-100%);
    opacity: 0;
}
.details-slide-out {
  transform: translateX(100%);
  opacity: 0.6;
}
.visible {
  transform: translateX(0);
  opacity: 1;
}
