.contact-container{
  height: 83vh; //Figure out what's going on with footer, this should help with home page issues
  }

.contact-container p {
  margin-top: 10vh;
  font-size: 16px;
  margin-left: 10vw;
  }
