// .home-slide-animation {
//   /* Initial state of the home page */
// //   transform: translateX(50%); /* Positioned off-screen to the right */
//   transform: translateX(0); /* Positioned off-screen to the right */
//   transition: transform 0.5s ease-in-out; /* Smooth transition for sliding */
// }
//
// /* Slide-in when the home page becomes visible */
// .home-slide-animation.slide-in {
// //   transform: translateX(0); /* Move the home page into view */
//   transform: translateX(0); /* Move the home page into view */
// }
//
// /* Slide-out when navigating away from the home page */
// .home-slide-animation.slide-out {
// //   transform: translateX(0); /* Slide the home page off-screen to the left STOPPING HERE */
//   transform: translateX(-100%); /* Slide the home page off-screen to the left STOPPING HERE */
// }

html, body{
  background-color: #000;
  }

@media only screen and (min-width: 786px) {
  .parallax {
    background-attachment: fixed;
    background-size: 100vw auto;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh; /* Adjusting this will make the content higher up on the page */
  }

.images-section {
  position: relative;
  z-index: 2; /* Ensure images are above the content */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* General Image Styling */
.image {
  width: 60vw;
}

}

/* Media query for smaller screens (mobile) */
@media only screen and (max-width: 786px) {

  body {
      margin: 0;
      height: 100vh; /* Ensure the body takes full height */
      overflow-x: hidden; /* Prevent horizontal overflow */
  }
  .parallax {
    background-image: url('/assets/images/costa-rica2.jpg');
    background-attachment: scroll; /* local simulates what mobile actually looks like (no parallax) */
    background-size: 100vw auto;
    background-position: 0 8vh; //push background image down in parallax container
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; /* Adjusting this will make the content higher up on the page */
    position: absolute;
  }

.container{
    width: 80vw;
    margin: 0 auto;
  }

.image-label {
  position: relative;  /* Makes the text section overlap the background */
  z-index: 2;  /* Ensure it's above the background but in line with the images */
  top: 1vh;  /* Adjust this to control how high or low the text appears on the background */
  width: 100%;
  text-align: left;
  color: white; /* Text color that contrasts the background */
}

.image-label h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 5vw; /* Adjust font size for headings */
//   margin-bottom: 10px; /* Space between heading and paragraph */
}

.images-section {
  position: relative; /* Ensure it stays within the document flow but on top of the parallax */
  z-index: 2; /* Ensure images are above the background */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start; /* Center vertically */
//   margin-top: 0; /* Reset any margin */
  width: 80vw;
//   min-height: 100vh; /* Ensure it takes at least the full viewport height */
  padding: 6vh 0; /* Adjust to position images where desired */
  height: 200vh;
}

.images-section a {
  margin-bottom: 1vh;
  }

/* General Image Styling */
.image {
  width: 80vw;
  }

p {
  margin: 0;
  color: white;
  font-size: 3vw;
  font-weight: 300;
  z-index: 1000;
  }

}







