/* Content styling for desktop */
html, body{
  background-color: #000;
  }

@media only screen and (min-width: 786px) {
  .parallax {
    background-attachment: fixed;
    background-size: 100vw auto;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh; /* Adjusting this will make the content higher up on the page */
  }

.images-section {
  position: relative;
  z-index: 2; /* Ensure images are above the content */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* General Image Styling */
.image {
  width: 60vw;
//   margin-bottom: 40px; /* Space between images */
  transition: transform 0.3s ease; /* Hover effect if needed */
  }

/* Image Hover Effect */
.image:hover {
  transform: scale(1.05);
  }

}

/* Media query for smaller screens (mobile) */
@media only screen and (max-width: 786px) {
  body {
      margin: 0;
      height: 100vh; /* Ensure the body takes full height */
      overflow-x: hidden; /* Prevent horizontal overflow */
//         border: 1vh solid #0b0b09;

  }
  .parallax {
    background-image: url('/assets/images/costa-rica2.jpg');
    background-attachment: scroll; /* local simulates what mobile actually looks like (no parallax) */
    background-size: 100vw auto;
    background-position: 0 7vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; /* Adjusting this will make the content higher up on the page */
    position: absolute;
  }

.images-section {
  position: relative; /* Ensure it stays within the document flow but on top of the parallax */
  z-index: 2; /* Ensure images are above the background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  margin-top: 0; /* Reset any margin */
  width: 100vw;
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  padding-top: 20vh; /* Adjust to position images where desired */
}

/* General Image Styling */
.image {
  width: 80vw;
//   margin: 0;
  transition: transform 0.3s ease; /* Hover effect if needed */
  }

/* Image Hover Effect (Optional) */
.image:hover {
  transform: scale(1.05);
  }
}







