.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0b09; /* Dark background */
  position: fixed;
  width: 100vw;
  height: 6vh;
  z-index: 1000;
  top:0;
  left:0;
  right:0;
}

.logo {
  color: gray;
  font-size: 2vw;
  font-weight: 300;
}

/* for desktop ? */
.nav-links {
  display: flex;
}

.nav-links li {
  margin: 0 1.5em;
}

.nav-links a {
  color: gray;
  text-decoration: none;
  font-size: 1vw;
  transition: color 0.3s ease;
}

/*THESE APPLY ONLY FOR DESKTOP*/
@media only screen and (min-width: 786px) {
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
    }

  .nav-links {
    list-style-type: none;
    display: flex;
  }

  .menu-toggle {
    display: none; /* Hides the checkbox on desktop */
  }
}

.hamburger .bar {
  width: 25px;
  height: 1px;
  background-color: gray;
  }

.nav-links a:hover {
  color: #f2f2f2;
}


/* MOBILE DISPLAY */
@media only screen and (max-width: 786px) {
    .logo {
      color: gray;
      font-size: 6vw;
      font-weight: 400;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 8vw;
      height: 1.2vh;
      cursor: pointer;
      padding-right: 2vw;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: gray;
      border-radius: 5px;
      transition: all 0.3s ease; /* Smooth transition for animation */
      transform-origin: center;
    }

    .menu-toggle {
      display: none;
    }

    .menu-toggle:checked + .hamburger .line:nth-child(1) {
      transform: rotate(45deg) translate(3px,3.25px);
    }

    .menu-toggle:checked + .hamburger .line:nth-child(2) {
      transform: rotate(-45deg) translate(3px,-3.25px);
    }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 6vh;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0b0b09; /* Dark background for mobile menu */
    text-align: right;

    opacity: 0; /* Start invisible */
    pointer-events: none; /* Disable interaction when hidden */
    transition: opacity 0.2s ease-in-out; /* Smooth fade-in and fade-out */
  }

  .menu-toggle:checked + .hamburger + .nav-links {
    opacity: 1; /* Full visibility when menu is active */
    pointer-events: auto; /* Enable interaction */
  }

  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  ul.nav-links{
    margin: 0;
    padding: 0;
    }

  .nav-links li {
//     margin: 0 20em;
    opacity: 0; /* Start with hidden opacity */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition for opacity and transform */
  }

  .nav-links a {
    color: gray;
    text-decoration: none;
    font-size: 7vw;
    transition: color 0.3s ease;
    line-height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

.menu-toggle:checked + .hamburger + .nav-links li {
  opacity: 1;  /* Fade in the links */
  transform: translateY(0);  /* Slide up to original position */
}

.menu-toggle:checked + .hamburger .line:nth-child(1) {
  transform: rotate(45deg) translate(3px,3.25px);
}

.menu-toggle:checked + .hamburger .line:nth-child(2) {
  transform: rotate(-45deg) translate(3px,-3.25px);
}

}

