.success-container{
  margin-left: 10vw;
  margin-top: 8vh;
  width: 80vw;
  }

h1, h3, p {
  font-family: 'Roboto', sans-serif;
  color: white;
  }

.success-summary-items{
  height: auto;
//   padding-bottom: 1vh;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
  }

.success-thumbnail{
  width: 20vw;
  height: auto;
  }
