
/* Content styling for desktop */
@media only screen and (min-width: 786px) {
  .parallax {
    background-image: url('/assets/images/elbert-summit.jpg');
    height: 50vh; /* Adjusting this will make the content higher up on the page */
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
    position: relative;
    background-position: center top 230%;
  }

  .content {
    height: 200vh;
    padding: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 2.5rem;
    margin-top: 30px;
    line-height: 30px;
  }

}

/* Media query for smaller screens (mobile) */
@media only screen and (max-width: 786px) {
  .parallax {
    background-image: url('/assets/images/elbert-summit.jpg');
    height: 30vh; /* Adjusting this will make the content higher up on the page */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  .content {
    height: 200vh;
    padding: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    }

    h1{
      font-size: 3rem;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 1.5rem;
      margin-top: 10px;
      line-height: 10px;
    }
}

