
<!--<div class="image-container">-->
<!--  <img src="assets/images/elbert-summit.jpg" alt="Elbert summit viewed from below">-->
<!--</div>-->

<div class="parallax">

</div>
<div class="content">
  <div class="images-section">
    <a href="#"><img class="image first-image" src="../../assets/images/redfish-1.jpg" alt="First Artwork"></a>
    <a href="#"><img class="image" src="../../assets/images/trout-1.jpg" alt="Second Artwork"></a>
    <a href="#"><img class="image" src="../../assets/images/flounder-1.jpg" alt="Third Artwork"></a>
  </div>
</div>

