<body>
<!-- Parallax Secction -->
  <section class="parallax-container">
    <div class="parallax"></div>
  </section>
    <div class="container">
<!--      <div class="image-label">-->
<!--        <h2>INSHORE COLLECTION - INDIVIDUAL PRINTS</h2>-->
<!--      </div>-->
        <div class="images-section">
          <div class="image-label">
            <h2>INSHORE COLLECTION - INDIVIDUAL PRINTS</h2>
          </div>
          <p>REDFISH</p>
          <a [routerLink]="['/details/redfish']"><img class="image" src="../../assets/images/redfish-1.jpg" alt="Redfish drawing"></a>
          <p>TROUT</p>
          <a [routerLink]="['/details/trout']"><img class="image" src="../../assets/images/trout-1.jpg" alt="Trout drawing"></a>
          <p>FLOUNDER</p>
          <a [routerLink]="['/details/flounder']"><img class="image" src="../../assets/images/flounder-1.jpg" alt="Flounder drawing"></a>

          <div class="image-label">
            <h2>INSHORE COLLECTION - INSHORE SLAM</h2>
          </div>
        </div>
<!--      <div class="image-label">-->
<!--        <h2>INSHORE COLLECTION - INSHORE SLAM</h2>-->
<!--      </div>-->
    </div>
</body>
